# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
.obsidian

# Exclude macOS Finder (System Explorer) View States
.DS_Store

venv

/src/folderOverview/src/main.ts
/src/folderOverview/node_modules
/src/folderOverview/package-lock.json
/src/folderOverview/package.json
/src/folderOverview/tsconfig.json
/src/folderOverview/README.md
/src/folderOverview/manifest.json
/src/folderOverview/manifest-beta.json
