# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Don't include the compiled main.js file in the repo.
# They should be uploaded to GitHub releases instead.
main.js

# Exclude sourcemaps
*.map

# obsidian
data.json
.obsidian

# Exclude macOS Finder (System Explorer) View States
.DS_Store

venv

/src/obsidian-folder-overview/src/main.ts
/src/obsidian-folder-overview/node_modules
/src/obsidian-folder-overview/package-lock.json
/src/obsidian-folder-overview/package.json
/src/obsidian-folder-overview/tsconfig.json
/src/obsidian-folder-overview/README.md
/src/obsidian-folder-overview/manifest.json
/src/obsidian-folder-overview/manifest-beta.json
